* {
	padding: 0px;
	margin: 0px;
}

body {
	display: flex;
	background-color: black;
	width: 1200px;
}

.background {
  background-image:url("assets/photos/bg.png");
  width: 100vw;
  z-index: -1;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
	display: flex;
	margin: auto;
	width: 100%;
	align-items: center;
	position: absolute;
	top: 0;
}

nav {
	flex: 1;
}

.nav-links {
	display: flex;
	text-align: center;
	justify-content: space-between;
	list-style: none;
	width: 80%;
	margin-left:15%;
	margin-right: 10%;
}

.nav-link {
	text-align: center;
	text-decoration: none;
	font-size: 72px;
	color: #e5e5e5;
	font-family: Neue Haas Grotesk Display Pro;
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 82px;
	z-index: 1;
	-webkit-background-clip: text;

}

@media (max-width: 992px) {
  .nav-link{
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 25px;
  }
}

.nav-link:hover {
	color: #9c9c9c;
	-webkit-background-clip: text;
 	cursor: pointer;	
}

.title {
	font-family: Neue Haas Grotesk Display Pro;
	font-style: normal;
	font-weight: 300;
	font-size: 144px;
	line-height: 162px;
	color: #ffffff;
	z-index: 1;
	position: absolute;
	top: 30%;
	padding-left: 10%;
}

@media (max-width: 992px) {
  .title{
    font-size: 115px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 100px;
  }
}

.info {
	font-family: Neue Haas Grotesk Display Pro;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	position: absolute;
	top: 60%;
	padding-left: 10%;
	padding-right: 65%;
}

@media (max-width: 992px) {
  .info{
    font-size: 14px;
    top: 55%;
  }
}

@media (max-width: 768px) {
  .info {
    font-size: 12px;
    top: 45%;
  }
}

.disclaimer {
	font-family: Neue Haas Grotesk Display Pro;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	position: absolute;
	top: 60%;
	padding-right: 39%;
	padding-left: 41%;
}

@media (max-width: 992px) {
  .disclaimer{
    font-size: 14px;
    top: 55%;
  }
}

@media (max-width: 768px) {
  .disclaimer {
    font-size: 12px;
    top: 45%;
  }
}

.nyc {
	position: absolute;
	top: 12%;	
	width: 60vw;
	right: 0;
}

.nyc:hover {
	 cursor: pointer;
	 -webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
}

.taxi {
	position: absolute;	
	right: 10%;
	top: 50%;
	width: 25vw;
}

@media (max-width: 992px) {
  .taxi{
    top: 40%;
  }
}

@media (max-width: 768px) {
  .taxi {
    top: 30%;
  }
}

.taxi:hover {
	 cursor: pointer;
	 -webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
}
